body {
	color: #555;
	size: 12px;
	margin: 0px;
	font-family: "Open Sans";
	background: #e7e7e7;
}
.social > a {
	text-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	letter-spacing: 1em;
	color: #eDeDeD;
}

.section {	
	text-align: center;
	background-color: #d32f2f;
	padding: 10px;
	color: #fff;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}
.section:hover {
	background-color: #C62828;
}
section > div {
	background-color: #FFF;
	margin: 30px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 15px;
	border-radius: 15px;
	box-shadow: 0px 0px 10px #b7b7b7;
}
.picture {	
	height: 125px;
	border-radius: 50%;
}
.picture:hover {
	height: 200px;
}
a {
	text-decoration: none;
}
}