.corpo-estilo {
  position: none;
  background: #FFF;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 70px;
  margin-bottom: 50px;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 0 10px #b7b7b7;
}

body {
  font-family: sans-serif;
  background: #e7e7e7;
  position: relative;
}

p {
  margin-top: 1rem;
}

.backButton {
  position: fixed;
  top: 5px;
  left: 5px;
}

.table thead th {
  border: 1px solid black;
}

table, td, tr {
  border: 1px solid black;
}

table {
  word-wrap: break-word;
  background-color: #FFFFFF;
  border-collapse: collapse;
  border-width: 1px;
  border-color: #336600;
  border-style: solid;
  color: #000000;
}

table td, table th {
  border-width: 1px;
  border-color: #336600;
  border-style: solid;
  padding: 3px;
  vertical-align: middle !important;
}

td, th {

}

table thead {
  background-color: #FFFFFF;
}

.recent {
  background-color: #e0f9ed;
}

.old {
  background-color: #f9e0e8;
}

@media (max-width: 640px) {
  .corpo {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media (max-width: 480px) {
  .corpo {
    margin-left: 5%;
    margin-right: 5%;
  }
  .table-action thead {
    display: none;
  }
  .table-action tr {
    border-bottom: 1px solid black;
  }
  .table-action td {
    border: 1px;
  }
  .table-action td:not(:first-child) {
    display: block;
  }
}

.backButton a {
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  padding: 8px 16px;
}

.backButton a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  border: 1px solid #dddddd;
  opacity: 0.8;
}

.round {
  line-height: normal !important;
  border-radius: 50%;
}
